
<h1> DS200A Computer Vision Assignment</h1>

<h2>  Part Three: Training Models </h2>

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import ray
ray.init(include_webui=False, num_cpus=4)

Process STDOUT and STDERR is being redirected to /tmp/raylogs/.
Waiting for redis server at 127.0.0.1:56463 to respond...
Waiting for redis server at 127.0.0.1:17600 to respond...
Starting the Plasma object store with 6.00 GB memory.
Starting local scheduler with the following resources: {'CPU': 4, 'GPU': 0}.

{'local_scheduler_socket_names': ['/tmp/scheduler34177496'],
 'node_ip_address': '10.142.159.205',
 'object_store_addresses': [ObjectStoreAddress(name='/tmp/plasma_store72762517', manager_name='/tmp/plasma_manager3472235', manager_port=34933)],
 'raylet_socket_names': [],
 'redis_address': '10.142.159.205:56463',
 'webui_url': ''}

In [2]:
def split(df, label='class'):
    """
    Given input df with features, splits it into a training and test sets
    with given labels and returns X_train, X_test, Y_train, Y_test 
    """
    train, test = train_test_split(df, test_size=0.2, random_state=42,\
                                   shuffle=True, stratify=df[label])
    X_train, Y_train = train.drop(columns=label, axis=1,\
                                  inplace=False),train[label]
    X_test, Y_test = test.drop(columns=label, axis=1, inplace=False),test[label]
    return X_train, X_test, Y_train, Y_test

def accuracy(actual, pred):
    """
    Calculate the accuracy percentage of the predicted values
    """
    return accuracy_score(actual, pred)

def getCategoryFromEncodings():
    """
    Returns a dictionary with the class number mapped to corresponding label
    """
    category_list = ["Airplanes","Bear","Blimp","Comet","Crab","Dog","Dolphin",
                     "Giraffe","Goat","Gorilla","Kangaroo","Killer-Whale",
                     "Leopards","Llama","Penguin","Porcupine","Teddy-Bear",
                     "Triceratops","Unicorn","Zebra"]
    category_list = list(map(lambda x: x.lower(), category_list))
    category_encodings = dict(zip(range(len(category_list)),category_list))
    
    # # Uncomment to view category encoding dict
    # print(category_encodings)
    return category_encodings

category = getCategoryFromEncodings()

##  Train models using all of the following methods below. Be sure to drop the actual image column, and the encoding	Take note of the differences in accuracy, and methods.

In [3]:
# Read the pickle data from the previous notebook
train_df_original = pd.read_pickle("./train_df_part2.pkl")

# drop temporary column that was used for debugging 
train_df = train_df_original.drop(columns="filename", axis=1, inplace=False)

# split original data into training and testing data and don't touch test data
#till the end
X_train, X_test, Y_train, Y_test = split(train_df)

### Logistic Regression

In [4]:
def train_test_logistic_regression(X_train, Y_train, X_valid, Y_valid,
                                   solver='liblinear'):
    """
    Given training and validation data, return the classification accuracy
    of a logistic regression model. Defaults use l2 penalty and 'liblinear' solver.
    """
    from sklearn.linear_model import LogisticRegression
    clf = LogisticRegression(solver = solver,).fit(X_train, Y_train)
    predictions = clf.predict(X_valid)
    return accuracy_score(predictions, Y_valid)

# train_test_logistic_regression(X_train, Y_train, X_valid, Y_valid)

def train_test_logistic_regression_cv(X_train, Y_train, solver='liblinear',
                                      C=1.0, k=5):
    """
    Given training data, perform stratified k-fold cross validation on the data 
    and run Logistic Regression classifier. 
    Return the mean and standard deviation of classification accuracy along with 
    the best estimator model obtained. Defaults use libsolver, 1.0 penalty
    and 5 folds.
    """
    from sklearn.linear_model import LogisticRegression
    from sklearn.model_selection import cross_validate
    
    logistic = LogisticRegression(solver = solver, C=C)
    cv_results = cross_validate(logistic, X=X_train, y=Y_train, cv=k,\
                                return_train_score=False, return_estimator=True)
    
    max_ind = np.where(cv_results["test_score"] == max(cv_results["test_score"]))
    max_estimator = cv_results["estimator"][max_ind[0][0]]
    return np.mean(cv_results["test_score"]),np.std(cv_results["test_score"]),max_estimator

@ray.remote(num_return_vals=3)
def train_test_logistic_regression_cv_remote(X_train, Y_train,\
                                             solver='liblinear', C=1.0, k=5):
    """
    Use ray parallelization to speed train_test_logistic_regression_cv function
    """
    return train_test_logistic_regression_cv(X_train, Y_train, solver, C, k)

In [5]:
# initializing empty lists
means_list, std_list, estimator_list, penalty_list, folds_list = [], [], [], [], []

##### HYPER-PARAMS TUNING ######

for penalty in [0.5, 1.0, 2.0, 10.0, 50.0]:    # tuning for logistic penalty param C
    for k in [3, 5, 10]:                       # tuning for number of folds k
        mean_acc, std_acc, estimator =\
        train_test_logistic_regression_cv_remote.remote(X_train, Y_train,\
                                                        solver='liblinear', C=penalty, k=k)
        means_list.append(mean_acc)
        std_list.append(std_acc)
        estimator_list.append(estimator)
        penalty_list.append(penalty)
        folds_list.append(k)
        
mean_list = ray.get(means_list)
std_list = ray.get(std_list)
estimator_list = ray.get(estimator_list)


# convert the above results into a dataframe sorted by mean_validation_accuracy and display top 5 best models and params
optimal = np.column_stack((mean_list, std_list, penalty_list, folds_list,
                           estimator_list))
optimal = pd.DataFrame(sorted(optimal, key=lambda x:x[0], reverse=True), 
                       columns=["Mean_Val_Acc", "Std_Val_Acc", 
                                "Regularization_Penalty", "Num_Folds",
                                "Best_Estimator"])
optimal.head()

,Mean_Val_Acc,Std_Val_Acc,Regularization_Penalty,Num_Folds,Best_Estimator
0,0.410127,0.022898,50.0,5,"LogisticRegression(C=50.0, class_weight=None, ..."
1,0.402614,0.026245,10.0,5,"LogisticRegression(C=10.0, class_weight=None, ..."
2,0.400625,0.032264,10.0,10,"LogisticRegression(C=10.0, class_weight=None, ..."
3,0.394885,0.036816,50.0,10,"LogisticRegression(C=50.0, class_weight=None, ..."
4,0.392560,0.011722,50.0,3,"LogisticRegression(C=50.0, class_weight=None, ..."

In [6]:
predictions = optimal.loc[0,"Best_Estimator"].predict(X_test)
print( "Best accuracy achieved: ", accuracy(Y_test, predictions))
print("Confusion Matrix below:")
pd.DataFrame(confusion_matrix(Y_test, predictions), index=category.values(),
             columns=category.values())

Best accuracy achieved:  0.4053156146179402
Confusion Matrix below:

,airplanes,bear,blimp,comet,crab,dog,dolphin,giraffe,goat,gorilla,kangaroo,killer-whale,leopards,llama,penguin,porcupine,teddy-bear,triceratops,unicorn,zebra
airplanes,15,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
bear,0,1,1,0,0,0,0,0,0,3,0,0,4,2,2,0,1,0,0,0
blimp,0,0,0,1,0,0,1,0,2,0,0,2,1,0,2,0,0,1,0,1
comet,0,0,0,14,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
crab,0,0,1,0,3,0,0,1,0,2,0,0,1,0,0,0,0,2,0,1
dog,0,0,0,0,1,0,0,1,0,3,0,0,1,0,2,0,4,0,2,0
dolphin,0,0,1,1,0,0,4,0,0,1,0,3,0,0,3,0,0,1,0,0
giraffe,0,0,0,0,1,1,0,0,1,1,1,0,3,0,0,0,2,0,1,0
goat,0,0,0,0,0,0,0,0,4,2,0,0,1,1,3,0,0,1,2,1
gorilla,0,0,0,1,0,0,0,0,0,20,0,1,1,3,1,0,0,0,0,1
kangaroo,0,0,0,0,0,0,0,0,0,2,2,0,2,2,0,0,1,1,0,1
killer-whale,0,0,0,0,0,0,4,0,0,0,0,4,1,0,2,0,0,0,1,0
leopards,0,0,0,0,0,0,2,2,0,0,0,0,22,0,0,0,0,0,0,0
llama,0,0,0,1,0,0,0,0,4,1,0,0,1,3,3,0,2,0,1,0
penguin,0,1,1,0,1,0,0,0,1,2,0,1,2,2,5,1,0,0,1,2
porcupine,0,1,0,0,0,0,0,1,1,3,0,1,2,0,0,4,0,0,0,0
teddy-bear,0,1,2,0,1,0,0,0,0,0,0,0,0,1,0,0,6,3,0,0
triceratops,0,0,1,0,1,0,0,1,0,1,0,0,1,1,0,0,0,6,0,1
unicorn,0,0,0,2,0,0,0,0,0,3,1,1,0,0,0,0,0,0,6,0
zebra,0,0,0,0,0,1,0,0,0,3,0,0,2,0,2,0,0,1,1,3

### K-nearest Neighbors

In [7]:
def train_test_knn(X_train, Y_train, X_val, Y_val, nearest_neighbor=10):
    """
    Given training and validation datas, return the classification accuracy of
    a K-Nearest-Neighbours model. Defaults use 10 neighbours.
    """
    from sklearn.neighbors import KNeighborsClassifier
    clf = KNeighborsClassifier(n_neighbors = nearest_neighbor).fit(X_train, Y_train)
    predictions = clf.predict(X_valid)
    return accuracy(predictions, Y_valid)

@ray.remote
def train_test_knn_remote(X_train, Y_train, X_val, Y_val, nearest_neighbors=10):
    """
    Use ray parallelization to speed train_test_knn function
    """
    return train_test_knn(X_train, Y_train, X_val, Y_val, nearest_neighbors)

def train_test_knn_cv(X_train, Y_train, nearest_neighbor=10, k=5):
    """
    Given training data, perform stratified k-fold cross validation on the data
    using K-Nearest-Neighbours classifier. Returns the mean and standard 
    deviation of classification accuracy along with the best estimator 
    model obtained. Defaults use 10 neighbours and 5 folds.
    """
    from sklearn.model_selection import cross_validate
    from sklearn.neighbors import KNeighborsClassifier
    knn = KNeighborsClassifier(n_neighbors = nearest_neighbor)
    
    cv_results = cross_validate(knn, X=X_train, y=Y_train, cv=k,
                                return_train_score=False, return_estimator=True)
    
    max_ind = np.where(cv_results["test_score"] == max(cv_results["test_score"]))
    max_estimator = cv_results["estimator"][max_ind[0][0]]
    return np.mean(cv_results["test_score"]),np.std(cv_results["test_score"]), max_estimator


@ray.remote(num_return_vals=3)
def train_test_knn_cv_remote(X_train, Y_train, nearest_neighbor=10, k=5):
    """
    Use ray parallelization to speed train_test_knn_cv function
    """
    return train_test_knn_cv(X_train, Y_train, nearest_neighbor, k)

# train_test_knn_cv(X_train, Y_train, nearest_neighbor=10, k=5)

In [11]:
n_list,means_list, std_list, estimator_list, folds_list = [], [], [], [], []

#### HYPER PARAM TUNING 

for k in [3, 5, 10, 15]:                     # tuning for number of folds
    for nearest_neighbor in range(2,25,2):   # tuning num of nearest neghbour classifiers 
        mean_acc, std_acc, estimator = \
        train_test_knn_cv_remote.remote(X_train, Y_train, nearest_neighbor, k=k)
        means_list.append(mean_acc)
        std_list.append(std_acc)
        estimator_list.append(estimator)
        n_list.append(nearest_neighbor)
        folds_list.append(k)

mean_list = ray.get(means_list)
std_list = ray.get(std_list)
estimator_list = ray.get(estimator_list)

# convert the above results into a dataframe sorted by mean_validation_accuracy
#and display top 5 best models and params
optimal = np.column_stack((mean_list, std_list, n_list, folds_list,  estimator_list))
optimal = pd.DataFrame(sorted(optimal, key=lambda x:x[0], reverse=True), 
                       columns=["Mean_Val_Acc", "Std_Val_Acc",
                                "Num_nearest_neighbor", "Num_Folds",
                                "Best_Estimator"])
optimal.head()

,Mean_Val_Acc,Std_Val_Acc,Num_nearest_neighbor,Num_Folds,Best_Estimator
0,0.298723,0.040594,18,10,"KNeighborsClassifier(algorithm='auto', leaf_si..."
1,0.292592,0.040900,16,10,"KNeighborsClassifier(algorithm='auto', leaf_si..."
2,0.291523,0.012055,18,3,"KNeighborsClassifier(algorithm='auto', leaf_si..."
3,0.287679,0.037791,22,10,"KNeighborsClassifier(algorithm='auto', leaf_si..."
4,0.287579,0.053569,22,15,"KNeighborsClassifier(algorithm='auto', leaf_si..."

In [12]:
predictions = optimal.loc[0,"Best_Estimator"].predict(X_test)
print( "Best accuracy achieved: ", accuracy(Y_test, predictions))
print("Confusion Matrix below:")
pd.DataFrame(confusion_matrix(Y_test, predictions), index=category.values(),
             columns=category.values())

Best accuracy achieved:  0.31561461794019935
Confusion Matrix below:

,airplanes,bear,blimp,comet,crab,dog,dolphin,giraffe,goat,gorilla,kangaroo,killer-whale,leopards,llama,penguin,porcupine,teddy-bear,triceratops,unicorn,zebra
airplanes,13,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0
bear,4,0,0,0,0,1,0,0,0,3,0,0,3,0,1,0,0,0,1,1
blimp,2,0,1,0,0,0,0,0,1,1,0,1,0,0,0,1,0,0,3,1
comet,0,0,0,14,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
crab,2,0,0,0,0,0,0,1,2,3,0,0,2,0,0,0,0,0,0,1
dog,4,0,0,0,0,0,0,0,2,2,1,0,2,0,1,0,0,0,1,1
dolphin,3,0,1,0,0,0,5,1,0,1,0,2,0,0,1,0,0,0,0,0
giraffe,1,1,0,0,0,0,0,1,1,2,0,1,0,0,1,0,0,0,0,3
goat,1,0,0,0,0,0,0,1,1,1,0,1,4,2,3,0,0,0,1,0
gorilla,1,0,0,1,0,1,0,1,1,19,0,0,1,0,1,0,0,0,0,2
kangaroo,0,0,0,0,0,2,0,0,0,0,0,0,5,0,3,0,1,0,0,0
killer-whale,1,0,1,0,0,0,1,0,0,3,0,5,0,0,1,0,0,0,0,0
leopards,0,0,1,0,0,0,0,1,0,0,0,1,22,0,0,0,0,0,0,1
llama,0,1,0,0,0,1,0,0,0,0,0,0,3,0,8,0,0,1,0,2
penguin,1,0,0,0,0,1,0,0,0,8,0,1,1,2,5,0,1,0,0,0
porcupine,1,0,0,1,0,1,0,1,0,4,0,0,3,1,0,1,0,0,0,0
teddy-bear,2,0,0,0,0,0,0,1,0,2,1,0,2,1,0,0,3,1,0,1
triceratops,3,0,0,0,0,1,0,0,1,3,0,0,1,0,1,0,0,2,1,0
unicorn,0,0,0,1,0,0,1,0,3,1,0,0,0,1,3,0,0,0,3,0
zebra,2,0,0,0,0,0,0,1,1,2,2,0,2,1,1,0,0,0,1,0

### Random Forest

In [14]:
def train_test_random_forest(X_train, Y_train, X_valid, Y_valid, num_classifiers=100, depth=5):
    """
    Given training and validation data, return the classification
    accuracy of a random forest model. Defaults use num_classifiers=100 and depth=5.
    """
    from sklearn.ensemble import RandomForestClassifier
    clf = RandomForestClassifier(n_estimators=num_classifiers,
                                 max_depth=depth).fit(X_train, Y_train)
    predictions = clf.predict(X_valid)
    return accuracy_score(Y_valid, predictions)

@ray.remote
def train_test_random_forest_remote(X_train, Y_train, X_valid, Y_valid,
                                    num_classifiers=100, depth=5):
    """
    Use ray parallelization to speed train_test_random_forest function
    """
    return train_test_random_forest(X_train, Y_train, X_valid, Y_valid,
                                    num_classifiers, depth)


def train_test_random_forest_cv(X_train, Y_train, num_classifiers=100, depth=5, k=5):
    """
    Given training data, perform stratified k-fold cross validation on the data
    using Random Forest classifier. Return the mean and standard deviation of 
    classification accuracy along with the best estimator 
    model obtained. Defaults use 100 classifiers, 5 depth and 5 folds.
    """
    from sklearn.model_selection import cross_validate
    from sklearn.ensemble import RandomForestClassifier
    rand_forest = RandomForestClassifier(n_estimators=num_classifiers, max_depth=depth)
    cv_results = cross_validate(rand_forest, X=X_train, y=Y_train, cv=k,
                                return_train_score=False, return_estimator=True)
    
    max_ind = np.where(cv_results["test_score"] == max(cv_results["test_score"]))
    max_estimator = cv_results["estimator"][max_ind[0][0]]
    return np.mean(cv_results["test_score"]), np.std(cv_results["test_score"]), max_estimator

@ray.remote(num_return_vals=3)
def train_test_random_forest_cv_remote(X_train, Y_train, num_classifiers=100,
                                       depth=5, k=5):
    """
    Use ray parallelization to speed train_test_random_forest_cv function
    """
    return train_test_random_forest_cv(X_train, Y_train, num_classifiers, depth, k)

In [15]:
n_list, d_list, means_list, std_list, estimator_list, folds_list = [], [], [], [], [], []

##### HYPER PARAM TUNING

for k in [5]:                        # tuning number of folds , 3, 10, 15
    for n in range(500, 349, -50):   # tuning the number of classifiers
        for d in range(3, 6):        # tuning the depth of each classifier
            mean_acc, std_acc, estimator  = \
            train_test_random_forest_cv_remote.remote(X_train, Y_train, num_classifiers=n, depth=d, k=k)
            means_list.append(mean_acc)
            std_list.append(std_acc)
            estimator_list.append(estimator)
            n_list.append(n)
            d_list.append(d)
            folds_list.append(k)
        
mean_list = ray.get(means_list)
std_list = ray.get(std_list)
estimator_list = ray.get(estimator_list)

# convert the above results into a dataframe sorted by mean_validation_accuracy
#and display top 5 best models and params
optimal = np.column_stack((mean_list, std_list, n_list, d_list, folds_list, estimator_list))
optimal = pd.DataFrame(sorted(optimal, key=lambda x:x[0], reverse=True), 
                       columns=["Mean_Val_Acc", "Std_Val_Acc", 
                                "Num_classifiers", "Depth_per_classifier", 
                                "Num_Folds", "Best_Estimator"])
optimal.head()

,Mean_Val_Acc,Std_Val_Acc,Num_classifiers,Depth_per_classifier,Num_Folds,Best_Estimator
0,0.361949,0.014852,350,5,5,"(DecisionTreeClassifier(class_weight=None, cri..."
1,0.358515,0.010734,450,5,5,"(DecisionTreeClassifier(class_weight=None, cri..."
2,0.358485,0.009642,400,5,5,"(DecisionTreeClassifier(class_weight=None, cri..."
3,0.356836,0.010431,500,5,5,"(DecisionTreeClassifier(class_weight=None, cri..."
4,0.329481,0.014311,450,4,5,"(DecisionTreeClassifier(class_weight=None, cri..."

In [17]:
predictions = optimal.loc[0,"Best_Estimator"].predict(X_test)
print( "Best accuracy achieved: ", accuracy(Y_test, predictions))
print("Confusion Matrix below:")
pd.DataFrame(confusion_matrix(Y_test, predictions), index=category.values(),
             columns=category.values())

Best accuracy achieved:  0.3488372093023256
Confusion Matrix below:

,airplanes,bear,blimp,comet,crab,dog,dolphin,giraffe,goat,gorilla,kangaroo,killer-whale,leopards,llama,penguin,porcupine,teddy-bear,triceratops,unicorn,zebra
airplanes,15,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
bear,0,0,1,0,0,0,0,0,0,8,0,0,0,0,3,0,2,0,0,0
blimp,1,0,1,0,0,0,2,0,0,1,0,1,1,1,1,0,1,0,1,0
comet,0,0,0,15,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
crab,0,0,0,0,0,0,0,0,0,6,0,0,0,0,1,0,0,2,0,2
dog,0,0,0,0,0,0,1,0,0,3,0,0,0,2,4,0,2,0,1,1
dolphin,0,0,0,0,0,0,5,0,0,0,0,5,0,0,2,0,1,0,1,0
giraffe,0,0,0,0,0,0,0,0,0,2,0,0,2,1,3,0,0,0,1,2
goat,0,0,0,0,0,0,0,0,0,4,0,0,1,2,6,0,1,0,1,0
gorilla,0,0,0,0,0,0,0,0,1,24,0,0,0,2,0,0,1,0,0,0
kangaroo,0,0,0,1,0,0,0,0,0,5,0,0,1,0,1,0,2,0,1,0
killer-whale,0,0,0,0,0,0,1,0,0,3,0,6,0,0,0,0,0,0,2,0
leopards,0,0,0,0,0,0,0,0,0,0,0,0,21,1,4,0,0,0,0,0
llama,0,0,0,0,0,0,0,0,0,4,0,0,4,1,7,0,0,0,0,0
penguin,0,0,0,1,0,0,0,0,0,8,0,0,0,2,7,0,1,0,1,0
porcupine,0,0,0,0,0,0,0,0,0,10,0,1,1,0,0,0,0,0,0,1
teddy-bear,0,0,0,0,0,0,0,0,0,5,0,0,1,2,1,0,3,2,0,0
triceratops,0,0,0,0,0,0,0,0,0,5,0,0,0,1,0,0,2,3,1,1
unicorn,0,0,0,1,0,0,0,0,0,1,0,1,0,0,7,0,0,0,3,0
zebra,0,0,0,0,0,0,0,0,0,3,0,0,2,2,2,0,1,1,1,1

### Support Vector Machine

In [18]:
def train_test_svm(X_train, Y_train, X_valid, Y_valid, C=10):
    """
    Given training and validation data, return the classification accuracy of a
    support vector machine model. Defaults use penalty param C=10 for training.
    """
    from sklearn.svm import LinearSVC
    clf = LinearSVC(C = 10).fit(X_train, Y_train)
    predictions = clf.predict(X_valid)
    return accuracy_score(Y_valid, predictions)

# using parallelization to speed up the training
@ray.remote
def train_test_svm_remote(X_train, Y_train, X_valid, Y_valid, C=10):
    """
    Use ray parallelization to speed train_test_svm function
    """
    return train_test_svm(X_train, Y_train, X_valid, Y_valid, C)

def train_test_svm_cv(X_train, Y_train, C=10, k=5):
    """
    Given training data, perform stratified k-fold cross validation on the data
    using SVM classifier. Return the mean and standard deviation of 
    classification accuracy along with the best estimator 
    model obtained. Defaults use 10 penalty and 5 folds.
    """
    from sklearn.model_selection import cross_validate    
    from sklearn.svm import LinearSVC
    svm = LinearSVC(C = C)
    cv_results = cross_validate(svm, X=X_train, y=Y_train, cv=k, 
                                return_train_score=False, return_estimator=True)
    
    max_ind = np.where(cv_results["test_score"] == max(cv_results["test_score"]))
    max_estimator = cv_results["estimator"][max_ind[0][0]]
    return np.mean(cv_results["test_score"]), np.std(cv_results["test_score"]), max_estimator

@ray.remote(num_return_vals=3)
def train_test_svm_cv_remote(X_train, Y_train, C=10, k=5):
    """
    Use ray parallelization to speed train_test_svm_cv function
    """
    return train_test_svm_cv(X_train, Y_train, C, k)

In [19]:
penalty_list, means_list, std_list, estimator_list, folds_list = [], [], [], [], []

##### HYPER PARAM TUNING

for k in [5]:                   # tuning number of folds 3, 5, 10, 15
    for c in range(1,101,5):    # tuning penalty param c
        mean_acc, std_acc, estimator = train_test_svm_cv_remote.remote(X_train, Y_train, C=c, k=k)
        means_list.append(mean_acc)
        std_list.append(std_acc)
        estimator_list.append(estimator)
        penalty_list.append(c)
        folds_list.append(k)
    
mean_list = ray.get(means_list)
std_list = ray.get(std_list)
estimator_list = ray.get(estimator_list)


# Display top 5 results along with params sorted on accuracy
optimal = np.column_stack((mean_list, std_list, penalty_list, folds_list, estimator_list))
optimal = pd.DataFrame(sorted(optimal, key=lambda x:x[0], reverse=True), 
                       columns=["Mean_Val_Acc", "Std_Val_Acc", 
                                "Regularization_penalty", "Num_Folds", 
                                "Best_Estimator"])
optimal.head()

,Mean_Val_Acc,Std_Val_Acc,Regularization_penalty,Num_Folds,Best_Estimator
0,0.187159,0.057993,81,5,"LinearSVC(C=81, class_weight=None, dual=True, ..."
1,0.182855,0.070272,96,5,"LinearSVC(C=96, class_weight=None, dual=True, ..."
2,0.180181,0.084563,41,5,"LinearSVC(C=41, class_weight=None, dual=True, ..."
3,0.176015,0.056350,56,5,"LinearSVC(C=56, class_weight=None, dual=True, ..."
4,0.174690,0.089984,51,5,"LinearSVC(C=51, class_weight=None, dual=True, ..."

In [20]:
predictions = optimal.loc[0,"Best_Estimator"].predict(X_test)
print( "Best accuracy achieved: ", accuracy(Y_test, predictions))
print("Confusion Matrix below:")
pd.DataFrame(confusion_matrix(Y_test, predictions), index=category.values(),
             columns=category.values())

Best accuracy achieved:  0.29900332225913623
Confusion Matrix below:

,airplanes,bear,blimp,comet,crab,dog,dolphin,giraffe,goat,gorilla,kangaroo,killer-whale,leopards,llama,penguin,porcupine,teddy-bear,triceratops,unicorn,zebra
airplanes,14,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0
bear,2,0,0,0,1,0,0,0,0,3,0,0,4,2,0,2,0,0,0,0
blimp,1,0,2,1,0,0,2,0,0,0,0,0,1,1,0,1,0,0,2,0
comet,0,0,1,14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
crab,2,0,0,1,2,0,0,0,0,2,0,0,2,0,0,2,0,0,0,0
dog,1,0,0,0,1,0,0,0,0,3,0,0,2,2,0,2,1,0,2,0
dolphin,3,0,1,1,0,0,7,0,0,1,0,0,0,1,0,0,0,0,0,0
giraffe,1,0,0,0,1,0,1,0,0,1,0,0,2,0,0,3,0,0,2,0
goat,1,0,2,1,1,0,0,0,0,2,0,0,1,1,0,2,0,0,4,0
gorilla,1,0,0,2,1,0,0,0,0,19,0,0,1,0,0,3,0,0,1,0
kangaroo,0,0,1,0,0,0,0,0,0,3,0,0,2,2,0,3,0,0,0,0
killer-whale,2,0,1,0,0,0,5,0,0,0,0,0,1,0,2,0,0,0,1,0
leopards,0,0,3,0,0,0,1,0,0,0,0,0,20,0,0,2,0,0,0,0
llama,1,0,0,1,2,0,0,0,0,1,0,0,4,2,0,5,0,0,0,0
penguin,0,0,1,1,0,0,3,0,0,0,0,0,3,2,2,4,0,0,4,0
porcupine,0,0,1,0,0,0,3,0,0,4,0,0,1,0,0,4,0,0,0,0
teddy-bear,3,0,2,1,0,0,1,0,0,0,0,0,0,0,0,4,3,0,0,0
triceratops,6,0,1,1,1,0,0,0,0,1,0,0,1,0,0,2,0,0,0,0
unicorn,0,0,0,5,0,0,0,0,0,5,0,0,1,1,0,0,0,0,1,0
zebra,5,0,0,0,0,0,0,0,0,4,0,0,1,1,0,2,0,0,0,0

### Generate test predictions on test set

In [25]:
# Read the pickle data from the previous notebook
test_df_original = pd.read_pickle("./test_df_part2.pkl")

label = "class"
X_train, Y_train = train_df.drop(columns=label, axis=1, inplace=False),\
train_df[label]
X_test = test_df_original

(1501, 17)

(716, 17)

In [27]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(solver = 'liblinear', C=50).fit(X_train, Y_train)
predictions = clf.predict(X_test)

/home/kbyagnik/anaconda3/envs/data100/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

In [36]:
# category[predictions]
labels = [category[prediction] for prediction in predictions]
out = pd.DataFrame(data=labels)
out.to_csv("./out.csv")